<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Estimado editor <%= @user.first_name %></h1>
<p>
  El estado de tu articulo titulado <b><%= @article.title %></b> fue actualizado a:
  <b><%= t(@article.status, scope: [:activerecord, :attributes, :article, :status]) %></b><br>
</p>

</body>
</html>