<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Estimado árbitro <b><%= @user.first_name %></b></h1>
<p>
  El tiempo de su revisión ha expirado para el  articulo titulado <b><%= @article.title %></b>
</p>

</body>
</html>