<% @journal.articles.each do |article| %>

    <%= article.title %>   <%= article.position %>

    <%= link_to "<span class='fa fa-remove'></span>".html_safe, article_path(id: article.id, article: {journal_id: 0, status: :approved}), method: :patch, remote: true, class: '', onclick: ""  %>

    <br>

<% end %>