<div class="card">
  <div class="card-body">
    <h4 class="card-title"> Articulos</h4>
    <p class="card-text">Articulos incluidos en este volumen</p>
  </div>
  <ul class="list-group list-group-flush">


    <% @journal.articles.each do |article| %>

        <li class="list-group-item fa fa-">
          <%= article.title %>   <%= article.position %>
          <% unless @journal.published? %>
              <%= link_to "<span class='fa fa-remove'></span>".html_safe, article_path(id: article.id, article: {journal_id: 0, status: :approved}), method: :patch, remote: true, class: 'btn btn-danger', onclick: "" %>
          <% end %>
        </li>

        <br>

    <% end %>

  </ul>

</div>