<%# navigation styled for Bootstrap 3.0 %>
<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%#= image_tag 'logo_ula_2.png', class: 'nav-bar-logo' %> &nbsp;
<%#= link_to 'Home', root_path, class: 'navbar-brand' %>

    </div>
    <div class="collapse navbar-collapse">
      <%#= render 'layouts/navigation_links' %>
<%#= render 'layouts/nav_links_for_auth' %>
    </div>
  </div>
</nav>

-->


<nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav" style="background-color: #27364a;">
  <div class="container">
    <a class="navbar-brand" href= <%= root_path %> >
      <%= image_tag 'logo_ula_2.png', class: 'nav-bar-logo' %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <%= render 'layouts/nav_links_for_auth' %>


    </div>
  </div>
</nav>
